<a href="https://colab.research.google.com/github/sergey031/DZ_Olimp/blob/master/%D0%9A%D0%BE%D0%BD%D1%82%D1%80%D0%BE%D0%BB%D1%8C_%D0%B7%D0%BD%D0%B0%D0%BD%D0%B8%D0%B9_1_student_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Вам необходимо загрузить набор данных «**subset-covid-data.csv**», содержащий данные о количестве случаев и смертей, связанных с пандемией **COVID-19**, для разных стран. https://github.com/DataRepo2019/Data-files или  https://github.com/DataRepo2019/Data-files/blob/master/subset-covid-data.csv

# **ЗАДАНИЕ 1**
Напишите функцию / индексатор / атрибут в Pandas для:

In [ ]:
import numpy as np
from scipy.integrate import odeint
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
# 1.1	Импорта данных из файла HTML.
#
pd.read_html(url)

In [ ]:
# 1.2	Экспорта данных в файл Excel.
# ваш код
pd.to_exsel(name_of_fale)

In [ ]:
# 1.3	Выбора данных с использованием позиции индекса.
# ваш код
first_row = covid_data.iloc[0]

value_at_first_row_first_column = covid_data.iloc[0, 0]

subset_data = covid_data.iloc[:5, :3]

In [ ]:
# 1.4	Выбора данных по метке.
# ваш код
covid_data.loc['label']

In [ ]:
# 1.5	Замены нулевых значений медианой.
# ваш код
covid_data.replace(0, covid_data.median(), inplace=True)

In [ ]:
# 1.6	Переименования столбцов.
# ваш код
covid_data.rename(columns={'old_column_name': 'new_column_name'}, inplace=True)

In [ ]:
# 1.7	Получения количества строк и столбцов в DataFrame.
# ваш код
num_rows, num_columns = covid_data.shape

In [ ]:
# 1.8	Преобразования в широкоформатный формат с помощью функции поворота.
# ваш код
covid_data_wide_format = covid_data.pivot(index='index_column', columns='columns_to_pivot')

In [ ]:
# 1.9	Выполнения внутреннего соединения двух таблиц.
# ваш код
merged_data = pd.merge(table1, table2, on='common_column')

In [ ]:
# 1.10	Изменение типа данных серии.
# ваш код
covid_data['column_name'] = covid_data['column_name'].astype('new_data_type')

# **ЗАДАНИЕ 2**
Функция **df.describe()** возвращает следующие сводные статистические значения: количество, минимум, максимум, стандартное отклонение, процентили и средние значения.

In [ ]:
# 2.1 Какой параметр вы бы добавили, чтобы получить следующее:
# количество уникальных значений, значение, которое встречается чаще всего,
# и частота этого значения?

# ваш код
summary_statistics = covid_data.describe(include='all')

# **ЗАДАНИЕ  3**
Импортируйте «**subset-covid-data.csv**» в **DataFrame**. Выберите следующие данные:

In [ ]:
import pandas as pd

file_path = "/content/subset-covid-data.csv"
covid_data = pd.read_csv(file_path, encoding='latin1')
print(covid_data.head())

       country continent        date  day  month  year  cases  deaths  \
0  Afghanistan      Asia  2020-04-12   12      4  2020     34       3
1      Albania    Europe  2020-04-12   12      4  2020     17       0
2      Algeria    Africa  2020-04-12   12      4  2020     64      19
3      Andorra    Europe  2020-04-12   12      4  2020     21       2
4       Angola    Africa  2020-04-12   12      4  2020      0       0

  country_code  population
0          AFG  37172386.0
1          ALB   2866376.0
2          DZA  42228429.0
3          AND     77006.0
4          AGO  30809762.0

In [ ]:
# 3.1	Столбцы  'country'  и 'continent'.

# ваш код
selected_columns = covid_data[['country', 'continent']]
print(selected_columns.head())

       country continent
0  Afghanistan      Asia
1      Albania    Europe
2      Algeria    Africa
3      Andorra    Europe
4       Angola    Africa

In [ ]:
# 3.2	Установите столбец 'country' в качестве индекса и извлеките численность населения,
# для страны “Algeria” с помощью индексаторов at или loc.

# ваш код

covid_data.set_index('country', inplace=True)
population_algeria = covid_data.loc['Algeria', 'population']
print(population_algeria)

42228429.0

In [ ]:
# 3.3	Выберите значение в 50-й строке и 3-м столбце с помощью iloc или индексатора iat.

# ваш код
value_at_50th_row_3rd_column = covid_data.iloc[49, 2]
value_at_50th_row_3rd_column_iat = covid_data.iat[49, 2]
print(value_at_50th_row_3rd_column)
print(value_at_50th_row_3rd_column_iat)

12
12

In [ ]:
# 3.4	Получите код страны и данные о населении последних трех записей.

# ваш код
covid_data = pd.read_csv(file_path)
last_three_rows = covid_data[['country_code', 'population']].tail(3)
print(last_three_rows)

    country_code  population
203          YEM  28498687.0
204          ZMB  17351822.0
205          ZWE  14439018.0

In [ ]:
# 3.5	Выберите данные для стран с большим населением: более 2,5 миллионов, а количество заболевших - более 3000.

# ваш код
selected_data = covid_data[(covid_data['population'] > 2500000) & (covid_data['cases'] > 3000)]
print(selected_data)

                      country continent        date  day  month  year  cases  \
69                     France    Europe  2020-04-12   12      4  2020   3114
98                      Italy    Europe  2020-04-12   12      4  2020   4694
177                     Spain    Europe  2020-04-11   11      4  2020   4550
190                    Turkey      Asia  2020-04-12   12      4  2020   5138
195            United_Kingdom    Europe  2020-04-12   12      4  2020   8719
198  United_States_of_America   America  2020-04-12   12      4  2020  28391

     deaths country_code   population
69      635          FRA   66987244.0
98      619          ITA   60431283.0
177     605          ESP   46723749.0
190      95          TUR   82319724.0
195     839          GBR   66488991.0
198    1831          USA  327167434.0

# **ЗАДАНИЕ 4**
Импортируйте данные для файла «**subset-covid-data.csv**» в DataFrame и напишите код для следующего:

In [ ]:
# 4.1. Удалить столбец «country_code».

# ваш код
x = covid_data.pop('country_code')

In [ ]:
# 4.2. Вставить этот столбец обратно.

# ваш код
covid_data['country_code'] = x

In [ ]:
# 4.3. Удалить первые три строки.

# ваш код
first_three_rows = covid_data.head(3)
covid_data = covid_data.iloc[3:]

In [ ]:
#  4.4. Добавить удаленные первые три строки обратно.

# ваш код
covid_data = pd.concat([first_three_rows, covid_data], axis=0)

# **ЗАДАНИЕ 5**
Следующий DataFrame записывает изменение веса четырех человек:
![Снимок.JPG]()

In [ ]:
#   5.1. Создайте из таблицы  DataFrame.

# ваш код
import pandas as pd

data = {
    'Anna': [51.0, 52.0, 51.4, 52.8, 50.5],
    'Ben': [70.0, 70.5, 69.1, 69.8, 70.5],
    'Carole': [64.0, 64.2, 66.8, 66.0, 63.4],
    'Dave': [81.0, 81.3, 80.5, 80.9, 81.4]
}

weight_changes = pd.DataFrame(data)
print(weight_changes)

   Anna   Ben  Carole  Dave
0  51.0  70.0    64.0  81.0
1  52.0  70.5    64.2  81.3
2  51.4  69.1    66.8  80.5
3  52.8  69.8    66.0  80.9
4  50.5  70.5    63.4  81.4

In [ ]:
#  5.2. Преобразуйте этот DataFrame в tidy format.

# ваш код
tidy_weight_changes = weight_changes.melt(var_name='Person', value_name='Weight')
print(tidy_weight_changes)

    Person  Weight
0     Anna    51.0
1     Anna    52.0
2     Anna    51.4
3     Anna    52.8
4     Anna    50.5
5      Ben    70.0
6      Ben    70.5
7      Ben    69.1
8      Ben    69.8
9      Ben    70.5
10  Carole    64.0
11  Carole    64.2
12  Carole    66.8
13  Carole    66.0
14  Carole    63.4
15    Dave    81.0
16    Dave    81.3
17    Dave    80.5
18    Dave    80.9
19    Dave    81.4

In [ ]:
#  5.3. Определите, у кого из этих четырех человек было меньше всего колебаний по весу.

# ваш код
min_variability_person = tidy_weight_changes.groupby('Person')['Weight'].std().idxmin()
print(min_variability_person)

Dave

In [34]:
#  5.4. Для людей, чей средний вес менее 65 кг, пересчитайте их
#  вес (за все четыре дня) в фунтах и отобразить эти данные.

# ваш код
lighter_people = tidy_weight_changes.groupby('Person')['Weight'].mean() < 65
selected_data = tidy_weight_changes[tidy_weight_changes['Person'].isin(lighter_people.index[lighter_people])].copy()
selected_data['Weight_in_pounds'] = selected_data['Weight'] * 2.20462
print(selected_data)

    Person  Weight  Weight_in_pounds
0     Anna    51.0        112.435620
1     Anna    52.0        114.640240
2     Anna    51.4        113.317468
3     Anna    52.8        116.403936
4     Anna    50.5        111.333310
10  Carole    64.0        141.095680
11  Carole    64.2        141.536604
12  Carole    66.8        147.268616
13  Carole    66.0        145.504920
14  Carole    63.4        139.772908